@import domain._
@(todoList: TodoList)
<html>
    <head>
        <title>TODO</title>
    </head>
    <body>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>名前</th>
                    </tr>
                </thead>
                <tbody>
                    @todoList.todo.map { todo =>
                        <tr>
                            <td>
                                <a href="@controllers.routes.TodoController.show(todo.id.getOrElse(Id(0)).value)">
                                @todo.id.getOrElse(Id(0)).value
                                </a>
                        <td>
                            <td>@todo.name.value<td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@controllers.routes.TodoController.neW()">新規登録</a>
        </section>
    </body>
</html>