@import domain._
@(todo: Todo)(implicit request: MessagesRequestHeader)
<html>
    <head>
        <title>TODO</title>
    </head>
    <body>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>名前</th>
                    </tr>
                </thead>
                <tbody>
                    <td>
                        @todo.id.getOrElse(Id(0)).value
                    </td>
                    <td>
                    @todo.name.value
                    </td>
                </tbody>
            </table>

            <a href="@controllers.routes.TodoController.index">
                一覧
            </a>
            <a href="@controllers.routes.TodoController.edit(todo.id.getOrElse(Id(0)).value)">
                編集
            </a>
        </section>
    </body>
</html>